/*---------------------------------Hamburger Menu-----------------------------------------*/
.hamburger{
  background-color:transparent;
	height:30px;
	width:30px;
	margin-right: 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#3897f0;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:$nav-color-text;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
  color:#369;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:#369;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#333;
}
/*Reseteando todo el documento*/
a{
	display: flex;
	flex-direction: column;
	padding: 5px 10px 15px 10px;
	cursor: pointer;
	text-decoration: none;
	color: #4D97F0;
}
.a{ display: flex;
	flex-direction: row;
	padding: 15px 15px 15px 30px;
 }
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
/*Esconde las pantallas */
.hide{
	display: none;
}
.bold-text{
	font-weight: bold;
}
.flex {
	display: flex;
	align-content: center;
}

/*--------------------------------------------HEADER---------------------------------------------------*/
.container-logo{
	height:64px;
	background-color: #fff;
}
.logo-banco-mundial{
	height: 2em;
}
.menu{
	width: 40px;
	height: 50px;
	background-color: #4D97F0;
	border: solid #4D97F0;
}
/* -----------------------*/
.flex-row{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
/*--------------------------------------------FOOTER---------------------------------------------------*/
.footer-style{
	background-color: #262626;
	height: 110px;
	display: flex;
	flex-direction: column;
}
.social-media{
	text-align: left;
	font-size: 1em;
	background-color: transparent;
	color: white;
}
.wrapper-social-media{
	margin: auto;
	display: flex;
	flex-direction: row;
}
.img-social-media{
	height: 2em;
	margin-right: .2em;
}
.copyright{
	text-align: center;
	font-size: 10px;
	background-color: transparent;
	color: white;
}
/*---------------------------------------------- LOGIN -----------------------------------------------*/
.container-all-login{
	min-height: 100vh;
	background-color:#F7F7F7;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.logo-login{
	width:199px;
	padding: 100px 0 40px 0;
}
.contain-form-field-login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	
}
.fill-login{
  width: 335px;
  height: 45px;
  border-radius: 2px;
  padding: 5px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 12px;
}
.label-caption{
	display: flex;
	align-items: center;
	align-self: flex-start;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
	height: 37px;
	color: #000000;
}
.label-caption-reset{
	display: flex;
	align-items: center;
	align-self: center;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
	height: 37px;
	color: #000000;
}

.new-account {
	display: flex;
	align-items: center;
    align-self: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 1px;
    height: 22px;
    color: #000000;
}

.incorrect{
	text-align: center;
	font-size: 16px;
	padding: 1em;
	color: red; 
}

.btn-ingresar{
	width: 335px;
	height: 50px;
	border-radius: 5px;
	background-color: #3897f0;
	font-size: 15px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.07;
	letter-spacing: normal;
	color: #ffffff;
	display: block;
	margin: 48px auto 25px auto;
	text-align: center;
	border: none;
	cursor: pointer;
}
/*----------------------------------------SLIDESHOW--------------------------------------------------------*/
/* Slideshow container */
.slideshow-container {
  max-width: 95%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slide-show-text{
	background-color: rgba(0,0,0,0.8);
	color: #ffffff;
	margin:5px auto;
	width: max-content;
}
/* Caption text */
.text {
  font-size: 11px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.data-explorer{
	width: 100px;
	height: 20px;
	border-radius: 5px;
	background-color: #3897f0;
	font-size: 12px;
	font-weight: 800;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
.data-explorer:hover{
	width: 105px;
	height: 25px;
	transition: .1s;
	background-color:#3284d1; 
}

/*----------------------------------------pantalla 2------------------------------------------------*/
.indicator-per-country{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #002F54;
	height: 690px;
}
.indicator-title-1{
	font-size: 13px;
	color: white;
	font-weight:400;
	margin-top: 23px;
	border: #ffffff solid 1px;
	width: max-content;
}
.indicator-title{
	font-size: 13px;
	color: white;
	font-weight:400;
}
.icon-indicator{
	width: 58px;
	height: 58px;
	cursor: pointer;
}
.text-indicator{
	width: 80%;
	text-align: center;
	color: white;
	font-size: 12px;
	margin: auto;

}
.contain-icon{
	width: 61px;
	height: 61px;
	align-self: center;
}
.contain-icons{
	display: flex;
	width: 100%;
	height: 170px;
	align-content: center;
	justify-content: center;
	margin-top: 70px;
}
.icon-style-{
	margin-right:100px;
}
.contain-text-d{
	padding: 70px;
}
/*----------------------------------------------------------------------------------------------------*/

/*Contenedor del texto*/
.text-media{
	height: 15em;
	background-color:#fff; 
}

.text-format{
	text-align: center;
	padding: 1em;
}

/*--------------------------------------------Media query---------------------------------------*/
@media screen and (min-width:764px){
	.container-all-login{
		height: 516px;
		width: 460px;
		margin: auto;
	}
	.label-caption-reset{
	display: flex;
	align-items: center;
	align-self: flex-end;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
	height: 37px;
	color: #000000;
	}
	.logo-banco-mundial{
	height: 3em;
	}
	.text{
		font-size: 16px;
		color: white;
	}
	.footer-style{
		height: 110px;
	}
	.copyright{
		padding: .5em .5em;
		text-align: right;
	}
	.social-media{
	text-align: left;
	padding: .5em 5em;
	}
	.data-explorer{
	width: 231px;
	height: 48px;
	margin:20px auto;
	font-size: 16px;
	}
	.data-explorer:hover{
	width: 236px;
	height: 53px;
	transition: .1s;
	background-color:#3284d1;
	}
	.indicator-title-1{
	font-size: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
	border: #ffffff solid 4px;
	margin-top: 36px;
	}
	.icon-indicator{
		width: 147px;
		height: 147px;
	}
	.text-indicator{
		font-size: 18px;
		width: 80%;
		padding-top: 50px;
	}
	.icon-style{
	margin-right: 60px;
	}
	.wrapper-social-media{
	margin: auto;
	float: left;
	}
	.flex{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.flex-table{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.c{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.nro{
		width: 10%;
		color: #002F54;
		font-size: 18px;
	}
	.indicador{
		width: 90%;
		color: #002F54;
		font-size: 18px;
		text-align: center;
	}
	.to-schrink{
		height: 400px;
	}
	.bgc{
		background-color: rgba(0,0,0,0.8);
	}
	.slide-show-text-add-peru:before{
		height: text-content;
		width: text-content;
		content: "Las acertadas políticas macroeconómicas y estructurales del Perú, combinadas con condiciones externas propicias, han generado un crecimiento importante.";
	}
	.slide-show-text-add-mexico:before{
		height: text-content;
		width: text-content;
		content: "La labor del Banco Mundial en México se organiza en torno a un modelo que ofrece soluciones integrales y personalizadas para el desarrollo mediante un paquete de herramientas financieras, de conocimiento y coordinación en todas las ramas de la institución.";
	}
	.slide-show-text-add-chile:before{
		height: text-content;
		width: text-content;
		content: "En las últimas décadas, Chile ha sido una de las economías de más rápido crecimiento en Latinoamérica. Esto le ha permitido una importante reducción de la pobreza. Por ejemplo, entre 2000 y 2015, la proporción de la población considerada pobre (US$4 por día) se redujo del 26 a 7.9%.";
	}
	.slide-show-text-add-brasil:before{
		height: text-content;
		width: text-content;
		content: "Brasil es la sexta mayor economía del mundo por PIB nominal, ocupando el octavo o noveno lugar por paridad de compra. A partir de los años 1990, el país adquirió estabilidad económica, atrayendo inversiones foráneas.";
	}
	.hamburger{
		margin-right: 50px;
	}
}


table {
   width: 100%;
}
th{
   text-align: justify;
   vertical-align: top;
   border: 1px solid #000;
}