/*Reseteando todo el documento*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
/*-------------------------------Grillas--------------------------------------------*/
.col-1{width: 10%;}
.col-2{width: 20%;}
.col-3{width: 30%;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8{width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}
.container{
	width: 100%;
	max-width: 1000px;
}
/*.row:before, .row:after{
	content: "";
	display: table;
	clear: both;
}
*/
/*Se puede poner en otra hoja de estilo*/
[class^=col]{
	float: left;
	height: auto;
	min-height: 7px;
	/*Gutters*/
	padding: .75em;
}
/*----------------------------------------------------------------------------------------------------*/
/*Esconde las pantallas */
.hide{
	display: none;
}
.bold-text{
	font-weight: bold;
}
/*--------------------------------------------HEADER---------------------------------------------------*/
.container-logo{
	height:64px;
	background-color: #fff;
}
.logo-banco-mundial{
	height: 3em;
}
.menu{
	width: 40px;
	height: 50px;
	background-color: #4D97F0;
	border: solid #4D97F0;
}
/*--------------------------------------------FOOTER---------------------------------------------------*/
.footer-style{
	background-color: #262626;
	height: 110px;
	display: flex;
	flex-direction: column;
}
.social-media{
	text-align: left;
	font-size: 1em;
	background-color: transparent;
	color: white;
}
.wrapper-social-media{
	margin: auto;
	display: flex;
	flex-direction: row;
}
.img-social-media{
	height: 2em;
	margin-right: .2em;
}
.copyright{
	text-align: center;
	font-size: 10px;
	background-color: transparent;
	color: white;
}
/*---------------------------------------------- LOGIN -----------------------------------------------*/
.container-all-login{
	width: 375px;
	height: 667px;
	background-color:#f7f7f7;
	display: flex;
	flex-direction: column;
}
.container-logo{
	display: flex;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: transparent;
}

.logo-login{
	margin: auto; 
	width:199px;
	align-self: center;
}
.login-form{
	display: flex;
	flex-direction: column;
}
.contain-field-login{
	width: 335px;
	height: 210px;
	margin: auto;
}
.label-style-login{
	width: 335px;
	height: 37px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.56;
	letter-spacing: normal;
	color: #000000;
}
.input-email, .input-password{
  width: 335px;
  height: 45px;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  margin: auto;
}
.container-reset{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	
}
.reset-password{
	width: 190px;
	height: 22px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.07;
	letter-spacing: normal;
	color: #000000;
}
.incorrect{
	text-align: center;
	font-size: 16px;
	padding: 1em;
	color: red; 
}
.container-btn-ingresar{
	display: flex;
	flex-direction: column;
}
.btn-ingresar{
	width: 335px;
	height: 50px;
	border-radius: 5px;
	background-color: #3897f0;
	font-size: 15px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.07;
	letter-spacing: normal;
	color: #ffffff;
	display: block;
	margin: 48px auto 25px auto;
	text-align: center;
	border: none;
	cursor: pointer;
}
.container-new-account{
	display: flex;
	flex-direction: column;
	height: 22px;
	width: 335px;
	padding-bottom: 120px;
}
.new-account{
	width: 335px;
	height: 22px;
	font-size: 16px;
	line-height:1px;
	margin: auto;
	text-align: center;
}
/*----------------------------------------SLIDESHOW-------------------------------------------------------*/
/*
.carousel-wrapper{
	width: 100%;
	margin: auto;
	display: block;
	overflow: hidden;
}
.img-slide{
	height:500px;
	width: 1000px;
	margin: auto;
}
.button-next{

}
.next-b{
	height: 50px;
	margin: auto;
	color: white;
	background-color: green;
}
.next-c{
	height: 50px;
	margin: auto;
	color: white;
	background-color: blue;
}
.next-m{
	height: 50px;
	margin: auto;
	color: white;
	background-color: black;
}
.next-p{
	height: 50px;
	margin: auto;
	color: white;
	background-color: red;
}
*/

.hide-slide{
  display: none;
}
.img-slide{
  width: 100%;
  height: 547px;
}
.slideshow-container{
 max-width:100%;
 position:relative;
 margin:20px auto;
}

.text{
 color:black;
 font-size:8px;
 padding:8px 12px;
 position:absolute;
 bottom:8px;
 width:100%;
 text-align:center;
}

.numbertext{
 color:#f2f2f2;
 font-size:12px;
 padding:8px 12px;
 position:absolute;
 top:0;
}
/*
.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 animation-name:fade;
 animation-duration:1.5s;
}

@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}
*/
.data-explorer{
	width: 120px;
	height: 33px;
	border-radius: 5px;
	background-color: #3897f0;
	font-size: 15px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.07;
	letter-spacing: normal;
	color: #ffffff;
	display: block;
	margin: 48px auto 25px auto;
	text-align: center;
	border: none;
	cursor: pointer;
	align-content: center;
	justify-content: center;
}
.data-explorer:hover{
	width: 125px;
	height: 38px;
	transition: .1s;
	background-color:#3284d1; 
}
.prev, .next{
 cursor:pointer;
 position:absolute;
 top:50%;
 width:auto;
 margin-top:-22px;
 padding:16px;
 color:white;
 font-weight:bold;
 font-size:18px;
 transition:0.6s ease;
 border-radius:0 3px 3px 0;
}
.next{
 right:0;
 border-radius:3px 0 0 3px;
}
.prev:hover, .next:hover{
 background-color:rgba(0,0,0,0.8);
}


/*----------------------------------------pantalla 2------------------------------------------------*/
.indicator-per-country{
	background-color: #002F54;
	height: 690px;
	margin: 20 px auto;
}
.indicator-title-1{
	font-size: 13px;
	color: white;
	font-weight:400;
	text-align: center;
	padding-top: 47px;
}
.indicator-title{
	font-size: 13px;
	color: white;
	font-weight:400;
}
.icon-indicator{
	width: 58px;
	height: 58px;
	cursor: pointer;
}
.text-indicator{
	width: 315px;
	height: 116px;
	text-align: center;
	color: white;
	font-size: 12px;
	margin: auto;

}
.contain-icon{
	width: 61px;
	height: 61px;
	align-self: center;
}
.contain-icons{
	display: flex;
	width: 100%;
	height: 170px;
	align-content: center;
	justify-content: center;
	margin-top: 70px;
}
.icon-style-{
	margin-right:100px;
}
.contain-text-d{
	padding: 70px;
}
/*----------------------------------------------------------------------------------------------------*/

/*Contenedor del texto*/
.text-media{
	height: 15em;
	background-color:#fff; 
}

.text-format{
	text-align: center;
	padding: 1em;
}

/*--------------------------------------------Media query---------------------------------------*/
@media screen and (min-width:400px){
	.container-all-login{
		width: 684px;
  		height: 693px;
  		margin: auto;
	}
	.input-email, .input-password{
		width: 448px;
		height: 70px;
		margin: auto;
	}
	.btn-ingresar{
		width: 184px;
		height: 51px;
		margin: 48px auto 25px auto;
	}
	.text{
		font-size: 16px;
		color: white;
	}
	.footer-style{
		height: 110px;
	}
	.copyright{
		padding: .5em .5em;
		text-align: right;
	}
	.social-media{
	text-align: left;
	padding: .5em 5em;
	}
	.data-explorer{
	width: 231px;
	height: 48px;
	}
	.data-explorer:hover{
	width: 236px;
	height: 53px;
	transition: .1s;
	background-color:#3284d1;
	}
	.indicator-title-1{
	font-size: 35px;
	}
	.icon-indicator{
		width: 147px;
		height: 147px;
	}
	.indicator-title{
	}
	.text-indicator{
		font-size: 18px;
		height: 123px;
		width: 1219px;
	}
	.icon-style{
	margin-right: 60px;
	}
	.wrapper-social-media{
	margin: auto;
	float: left;
}

}